<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stackssh.infrastructure.dao.ITerminalRecordingEventDao">

    <resultMap id="eventMap" type="cn.stackssh.infrastructure.dao.po.TerminalRecordingEventPO">
        <id column="id" property="id"/>
        <result column="recording_db_id" property="recordingDbId"/>
        <result column="offset_ms" property="offsetMs"/>
        <result column="data" property="data"/>
    </resultMap>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO terminal_recording_event (recording_db_id, offset_ms, data) VALUES
        <foreach collection="list" item="e" separator=",">
            (#{e.recordingDbId}, #{e.offsetMs}, #{e.data})
        </foreach>
    </insert>

    <select id="queryByRecordingDbId" resultMap="eventMap">
        SELECT id, recording_db_id, offset_ms, data
        FROM terminal_recording_event
        WHERE recording_db_id = #{recordingDbId}
        ORDER BY offset_ms ASC
    </select>

</mapper>
